header
{
  background-color:grey;
  padding: 35px 70px 50px 25px;
}

.menu
{
  padding:50px 500px 700px;
}

.menu a
{
  display: inline;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

footer{
  background-color:grey;
  padding: 35px 70px 50px;
}

.content img
{
  width: 200px;
  height: 200px;
}
